<!-- FORGET PASSWORD --COMPONENT 1 -->
<ion-page class="ion-page">
  <!-- Header -->
  <ion-header>

    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/signin"></ion-back-button>
      </ion-buttons>
      <ion-title>{{'Reunitialisation du mots de passe'}}</ion-title>
    </ion-toolbar>
    <ion-progress-bar type="indeterminate" *ngIf="progressBar"></ion-progress-bar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding" size="12">
          <ion-card class="no-box-shadow no-border-radius ion-no-margin ion-padding-bottom">
            <ion-card-header class="ion-margin-top">
              <!---Logo-->
              <ion-img class="ion-padding-top border-radius" [src]="layoutData.logo"></ion-img>
            </ion-card-header>
            <ion-card-content class="ion-text-center ion-margin-top ion-margin-bottom">
              <h1 class="text-size-xl text-color-light font-regular">{{layoutData.title}}</h1>
              <h2 class="ion-padding-bottom text-size-md text-color-light font-regular">{{layoutData.subtitle}}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="ion-no-padding" size="12" size-md="10" push-md="1">
          <form [formGroup]="editForm" (ngSubmit)="Submit()">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3"></ion-col>
                <ion-col size="2">
                  <h5>Client</h5>
                </ion-col>
                <ion-col size="2">
                  <ion-icon [name]="radio?'radio-button-on-outline':'radio-button-off-outline'"
                    [ngStyle]="{'color':radio?'#1669BC':'#807E7E','font-size':'1.5em'}" (click)="changeEtatRadio()">
                  </ion-icon>
                </ion-col>
                <ion-col size="2">
                  <h5>Autre</h5>
                </ion-col>
                <ion-col size="2">
                  <ion-icon [name]="!radio?'radio-button-on-outline':'radio-button-off-outline'"
                    [ngStyle]="{'color':!radio?'#1669BC':'#807E7E','font-size':'1.5em'}" (click)="changeEtatRadio()">
                  </ion-icon>
                </ion-col>
                <ion-col size="3"></ion-col>
              </ion-row>
            </ion-grid>
            <div class="input-section">

              <ion-item class="ion-no-padding transparent input" lines="none">
                <ion-label position="floating">{{layoutData.email}}</ion-label>
                <ion-input required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" value=''
                  required formControlName='email' (ionInput)="onTextChangeEmailFunc($event)">
                </ion-input>
                <ion-icon name="mail-outline"></ion-icon>
              </ion-item>
              <ion-text color="danger" class="text-error">
                <span *ngIf="editForm.get('email').touched && editForm.controls.email.hasError('required')">{{'Champs
                  requis'}}
                </span>
                <span *ngIf="editForm.get('email').touched && editForm.controls.email.hasError('email')">{{'Email
                  Invalide'}}
                </span>
              </ion-text>
            </div>
            <div class="ion-padding" size="12" size-md="10" push-md="1">
              <div size="12" class="no-padding-start no-padding-end">
                <ion-button class="ion-margin-top default-button color-primary ion-text-capitalize box-shadow"
                  color="primary" expand="block" type="submit" (click)="activatedProgressBar()"
                  [disabled]="editForm.invalid">
                  <span class="btn-send">{{layoutData.submit }} </span>
                  <span>
                    <ion-icon name="send-sharp" class="ionIcon"></ion-icon>
                  </span>
                </ion-button>
              </div>
            </div>

          </form>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <p class="ion-text-center custom-font">
        {{layoutData.footer}}
      </p>
    </ion-toolbar>
  </ion-footer>
</ion-page>